.phoneBook_form {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 300px;
  padding: 20px;
  box-shadow: 2px 3px 10px 3px #3c6a77;
}

label {
  display: flex;
  width: 40%;
  height: 20%;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 600;
}

.buttonPhonBk {
  display: block;
  width: 150px;
  height: 30px;
  background-color: #3c6a77;
  border: 1px solid #3c6a77;
  transition: all 0.5s ease-out;
}

.buttonPhonBk:hover {
  background-color: #9ab7ba;
}

.phoneBook_inp {
  height: 40px;
  font-size: 20px;
}
