.phoneBook_form {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 300px;
  padding: 20px;
  box-shadow: 2px 3px 10px 3px #3c6a77;
}

label {
  display: flex;
  width: 40%;
  height: 20%;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 600;
}

.buttonPhonBk {
  display: block;
  width: 150px;
  background: linear-gradient(45deg, #3c6a77 30%, rgb(184, 178, 178) 90%);
  box-shadow: 0 3px 5px 2px #3c6a77;
  color: white;
}

/* .buttonPhonBk:hover {
  background-color: #9ab7ba;
} */

.phoneBook_inp {
  height: 40px;
  font-size: 20px;
}
