.list_PhoneLs {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: black;
}

.buttonPhoneLs {
  width: 150px;

  background: linear-gradient(45deg, #3c6a77 30%, rgb(184, 178, 178) 90%);
  box-shadow: 0 3px 5px 2px #3c6a77;
  color: white;
}

.taskListItem_name {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.taskListItem_number {
  font-size: 24px;
  font-weight: 500;
  color: red;
}
