html {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;

  /* background-color: #9ab7ba; */
}

*,
*::before *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
