.button {
  background: linear-gradient(45deg, #3c6a77 30%, rgb(184, 178, 178) 90%);
  border: 0;
  border-radius: 3;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  height: 48;
  padding: '0 30px';
}
